@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:hsl(0, 0%, 8%) ;
    gap: 30px;
}
main{
    width: 320px;
    background-color:  hsl(0, 0%, 12%);
    padding: 40px;
    border-radius: 10px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.profile-picture{
    width: 80px;
    margin-bottom: 25px;
    img{
        width: 100%;
        border-radius: 50%;
        object-fit: contain;
    }
}
.profile-name{
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 7px;
    letter-spacing: 1px;
}
.profile-location{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}
.profile-bio{
    color: hsl(0, 0%, 100%) ;
    font-size: 14px;
    font-weight: 400;
}
.profile-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.profile-link{
   text-decoration: none;
   text-align: center;
   color: hsl(0, 0%, 100%) ;
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    transition-duration: .5s;
    font-size: 14px;
}
.profile-link:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%) ;
  }
  .attribution a {
    color: hsl(0, 0%, 70%);
  }